body{
	max-width: 1400px;
	margin:0 auto;
	background: rgb(187,187,7);
	background: linear-gradient(90deg, rgba(187,187,7,1) 0%, rgba(187,158,40,1) 12%, rgba(183,96,8,1) 38%, rgba(255,63,0,1) 100%);
}

.button1{
	border:1px solid white;
	position: relative;
	background-color: white;
	transform: translate(35%,50%);
	border-radius:25px;
	width: 810px;
	height: 400px;
}
.text{
	margin:0 auto;
	position: absolute;
	transform: translate(70%,-55%);
	font-family: "Source Sans Pro", monospace;
		
}
.button2{
	border:1px solid rgb(212,119,13);
	position: absolute;
	transform: translate(75%,-50%);
	border-radius: 15px;
	margin: 0 auto;
	width: 300px;
	height: 300px;
	background: rgb(250,113,0);
	background: linear-gradient(90deg, rgba(250,113,0,1) 0%, rgba(215,105,7,1) 52%, rgba(246,64,4,1) 100%);
	box-shadow: 10px 10px 40px 0px rgba(237,40,40,1);
}
p {
	font-size:18px;
}
.p2 {
	width: 50%;
}
.button3 {
	border: 1px solid rgb(212,119,13);
	width: 160px;
	height: 50px;
	border-radius: 30px;
	background: rgb(212,119,13);
	padding: 5px;
	color:white;
	font-weight: bold;
}

.dom {
	background: rgb(180, 180, 180);
	position: relative;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	right: -75%;
	transform: translate(0,-150%);
}
.dom1 {
	background:rgba(253, 29, 29, 1.0) ;
	position: relative;
	border-radius: 20px;
	width: 10px;
	height: 30px;
	right: -75%;
	transform: translate(0,-35%);
	
}
.dom3 {
	background: rgb(180, 180, 180);
	position: relative;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	right: -75%;
	transform: translate(0,-60%);
}
@media screen and (max-width:768px) {
	.main {
		display: flex;
		flex-direction: column;
	}
	.button1{
		width: 250px;
		height: 500px;

	}
	.button2{
		width: 150px;
		height: 150px;
		transform: translate(90%,110%);
	}
	.text{
		transform: translate(25%,100%);
	}
	.p1{
		font-size:22px;
	}
	h1{
		font-size:24px;
	}
	.p2{
		font-size:19px;

	}
	.button3{
		width: 120px;
		height: 40px;
	}
	.domalak{
	transform: translate(7%,-5%);
	}
}	
